<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <false/>
  <key>Label</key>
  <string>io.boot2docker.boot2docker</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/boot2docker</string>
    <string>start</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/usr/local</string>
  <key>StandardErrorPath</key>
  <string>/usr/local/var/log/boot2docker.log</string>
  <key>StandardOutPath</key>
  <string>/usr/local/var/log/boot2docker.log</string>
</dict>
</plist>
